# Geographic Data Visualization 
### 1. land_use data 
### 2. land_use data(agriculture%) + area_composition data(land %) subplot

##### * agriculture % : proportion of agriculture land       *land %: proportion of land of total country size

In [1]:
import pandas as pd

land_use = pd.read_csv('land_use.csv')
area_comp = pd.read_csv('area_comp.csv')
land_use1= land_use.drop(land_use.index[[5,22,26]])   #delete 3 lines 
land_use2= land_use1.sort_values(by='agriculture_land', ascending = False)  #sort values by 'argiculture' size 
land_use2

      country name  agriculture_land  forest other  total
29    saudi_arabia              80.7     0.5  18.8    100
10  united_kingdom              71.0    11.9  17.1    100
1            india              60.5    23.1  16.4    100
17          mexico              54.9    33.3  11.8    100
2            china              54.7    22.3    23    100
14           spain              54.1    36.8   9.1    100
23       australia              53.4    19.3  27.3    100
12          france              52.7    29.2  18.1    100
19          poland              48.2    30.6  21.2    100
11         germany              48.0    31.8  20.2    100
13           italy              47.1    31.4  21.5    100
9    united_states              44.5    33.3  22.2    100
25         belgium              44.1    22.4  33.5    100
3         thailand              41.2    37.2  21.6    100
15     philippines              41.0    25.9  33.1    100
20        portugal              39.7    37.8  22.5    100
18         austria              38.4    47.2  14.4    100
4          vietnam              34.8    45.0  20.2    100
24        cambodia              32.1    56.5  11.4    100
7        indonesia              31.2    51.7  17.1    100
16     south_korea              18.1    63.9    18    100
27          russia              13.1    49.4  37.5    100
0            japan              12.5    68.5    19    100
8           canada               6.8    34.1  59.1    100
21           egypt               3.6     0.1  96.3    100
28          norway               2.7    27.8  69.5    100
6        singapore               1.0     3.3  95.7    100

In [52]:

area_comp1= area_comp.drop(area_comp.index[[5,22,26]]) #delete 3 lines 
area_comp1

      country name       total        land    water
0            japan     377,915     364,485   13,430
1            india   3,287,263   2,973,193  314,070
2            china   9,596,960   9,326,410  270,550
3         thailand     513,120     510,890    2,230
4          vietnam     331,210     310,070   21,140
6        singapore       719.2       709.2       10
7        indonesia   1,904,569   1,811,569   93,000
8           canada   9,984,670   9,093,507  891,163
9    united_states   9,833,517   9,147,593  685,924
10  united_kingdom     243,610     241,930    1,680
11         germany     357,022     348,672    8,350
12          france     643,801     640,427    3,374
13           italy     301,340     294,140    7,200
14           spain     505,370     498,980    6,390
15     philippines     300,000     298,170    1,830
16     south_korea      99,720      96,920    2,800
17          mexico   1,964,375   1,943,945   20,430
18         austria      83,871      82,445    1,426
19          poland     312,685     304,255    8,430
20        portugal      92,090      91,470      620
21           egypt   1,001,450     995,450    6,000
23       australia   7,741,220   7,682,300   58,920
24        cambodia     181,035     176,515    4,520
25         belgium      30,528      30,278      250
27          russia  17,098,242  16,377,742  720,500
28          norway     323,802     304,282   19,520
29    saudi_arabia   2,149,690   2,149,690        0

#### Add necessary columns (land %, water%)

In [93]:
area_comp1['land%'] = area_comp1['land'].div(area_comp1['total'])*100
area_comp1['water%'] = area_comp1['water'].div(area_comp1['total'])*100

area_comp2 = area_comp1.sort_values(by='land%', ascending = False)
area_comp2

      country name       total        land     water       land%    water%
29    saudi_arabia   2149690.0   2149690.0       0.0  100.000000  0.000000
3         thailand    513120.0    510890.0    2230.0   99.565404  0.434596
12          france    643801.0    640427.0    3374.0   99.475925  0.524075
21           egypt   1001450.0    995450.0    6000.0   99.400869  0.599131
15     philippines    300000.0    298170.0    1830.0   99.390000  0.610000
20        portugal     92090.0     91470.0     620.0   99.326746  0.673254
10  united_kingdom    243610.0    241930.0    1680.0   99.310373  0.689627
23       australia   7741220.0   7682300.0   58920.0   99.238880  0.761120
25         belgium     30528.0     30278.0     250.0   99.181080  0.818920
17          mexico   1964375.0   1943945.0   20430.0   98.959975  1.040025
14           spain    505370.0    498980.0    6390.0   98.735580  1.264420
6        singapore       719.2       709.2      10.0   98.609566  1.390434
18         austria     83871.0     82445.0    1426.0   98.299770  1.700230
11         germany    357022.0    348672.0    8350.0   97.661209  2.338791
13           italy    301340.0    294140.0    7200.0   97.610672  2.389328
24        cambodia    181035.0    176515.0    4520.0   97.503245  2.496755
19          poland    312685.0    304255.0    8430.0   97.303996  2.696004
16     south_korea     99720.0     96920.0    2800.0   97.192138  2.807862
2            china   9596960.0   9326410.0  270550.0   97.180878  2.819122
0            japan    377915.0    364485.0   13430.0   96.446291  3.553709
27          russia  17098242.0  16377742.0  720500.0   95.786116  4.213884
7        indonesia   1904569.0   1811569.0   93000.0   95.117005  4.882995
28          norway    323802.0    304282.0   19520.0   93.971625  6.028375
4          vietnam    331210.0    310070.0   21140.0   93.617342  6.382658
9    united_states   9833517.0   9147593.0  685924.0   93.024632  6.975368
8           canada   9984670.0   9093507.0  891163.0   91.074687  8.925313
1            india   3287263.0   2973193.0  314070.0   90.445851  9.554149

### Horizontal Bar Graph 
##### show proportion of each component(argriculture, forest, etc) 
###### agriculture: pink,    forest: black    , etc: green

In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
land_use1= land_use.drop(land_use.index[[5,22]])
land_use1

#each trace : proportion of each component 
#trace: x axis data, y axis data, set horizontal, marker option, line option 
trace1 = go.Bar(
    y=land_use2['country name'],
    x=land_use2['agriculture_land'],
    name='agriculture',
    orientation = 'h',
    marker = dict(
        color = 'rgba(246, 78, 139, 0.6)',
        line = dict(
            color = 'rgba(246, 78, 139, 1.0)',
            width = 2)
    )
)
trace2 = go.Bar(
    y=land_use2['country name'],
    x=land_use2['forest'],
    name='forest ',
    orientation = 'h',
    marker = dict(
        color = 'rgba(58, 71, 80, 0.6)',
        line = dict(
            color = 'rgba(58, 71, 80, 1.0)',
            width = 2)
    )
)

trace3 = go.Bar(
    y=land_use2['country name'],
    x=land_use2['other'],
    name='other',
    orientation = 'h',
    marker = dict(
        color = 'rgba(50, 171, 190, 0.9)',
        line = dict(
            color = 'rgba(50, 171, 190, 1.0)',
            width = 2)
    )
)

data = [trace1, trace2, trace3]

#set layout: width, height, title, xaxis name
layout = go.Layout(    autosize=False,
    width=1000,
    height=900,
                   title = 'Land Use',
              xaxis = dict(title = 'Percentage % '), barmode='stack'
    
              )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='marker-h-bar')

# Subplots of agriculture% and land%

In [121]:

import plotly.plotly as py
import plotly.graph_objs as go
from plotly import tools

import numpy as np

#set data in each variable for (x axis, y axis)
y_agr= land_use2['agriculture_land']
y_land = area_comp2['land%']
x_agr = land_use2['country name']
x_land = area_comp2['country name']

#trace: each different type of graph 

#trace0 (Bar Graph): set x_axis data, y_axis data, marker option, name
trace0 = go.Bar(
    x=y_agr,
    y=x_agr,
    marker=dict(
        color='rgba(244, 66, 185, 0.6)',
        line=dict(
            color='rgba(244, 66, 185, 1.0)',
            width=1),
    ),
    name='argriculture land',
    orientation='h',
)

#trace1 (Scatter line plot): color, name, layout, y axis, x axis, color 
trace1 = go.Scatter(
    x=y_land,
    y=x_land,
    mode='lines+markers',
    line=dict(
        color='rgb(173, 57, 128)'),
    name='land%',
)


layout = dict(
    title='percentage of agriculture land and land composition',
    yaxis=dict(
        showgrid=False,
        showline=False,
        showticklabels=True,
        domain=[0, 0.85],
    ),
    yaxis2=dict(
        showgrid=False,
        showline=True,
        showticklabels=False,
        linecolor='rgba(102, 102, 102, 0.8)',
        linewidth=2,
        domain=[0, 0.85],
    ),
    xaxis=dict(
        zeroline=False,
        showline=False,
        showticklabels=True,
        showgrid=True,
        domain=[0, 0.42],
    ),
    xaxis2=dict(
        zeroline=False,
        showline=False,
        showticklabels=True,
        showgrid=True,
        domain=[0.47, 1],
        dtick=10,
    ),
    legend=dict(
        x=0.029,
        y=1,
        font=dict(
            size=10,
        ),
    ),
    margin=dict(
        l=100,
        r=10,
        t=25,
        b=25,
    ),
    paper_bgcolor='rgb(248, 248, 255)',
    plot_bgcolor='rgb(248, 248, 255)',
)

annotations = []

#round data, change data to integer 
y_s = np.round(y_agr, decimals=2)
y_nw = np.rint(y_land)

# set labels 
for ydn, yd, xd in zip(y_nw, y_s, x_saving):

    annotations.append(dict(xref='x2', yref='y2',
                            y=xd, x=ydn,
                            text='{:,}'.format(ydn),
                            font=dict(family='Arial', size=12,
                                      color='rgb(128, 0, 128)'),
                            showarrow=False))

# Source printing 
annotations.append(dict(xref='paper', yref='paper',
                        x=-0.2, y=-0.109,
                        text='30 countries "' +
                             '(2018), Total Area Composition (indexmundi), ' +
                             'Total Land Usuage (indexmundi). doi: ' +
                             '10.1787/cfc6f499-en (Accessed on 05 June 2015)',
                        font=dict(family='Arial', size=10,
                                  color='rgb(150,150,150)'),
                        showarrow=False))

layout['annotations'] = annotations

# subplots setting 
fig = tools.make_subplots(rows=1, cols=2, specs=[[{}, {}]], shared_xaxes=True,
                          shared_yaxes=False, vertical_spacing=0.001)

fig.append_trace(trace0, 1, 1)
fig.append_trace(trace1, 1, 2)

fig['layout'].update(layout)
py.iplot(fig, filename='area composition and land_use')

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]